/* body{
    background-image: url("../images/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
} */
*{
  font-family : source sans pro;
}
.mychar{
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.menu{
    padding-top: 15vh;
}
.leaderboard{
    padding-top: 3vh;
    max-width: 600px;
    width: 80vw;
}
.btn{
    margin-top: 1vh;
    width: 70vw;
    margin-bottom: 1vh;
    max-width:600px;
}
#nama{
    color: black;
}
.table{
    background-color: aliceblue;
}
.white{
    color: antiquewhite;
}
