html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* #char {
  background: url("../images/chars.gif");
  position: absolute;
  width: 20vw;
  height: 17vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  bottom: 5px;
  left: 40vw;
  max-width : 100px;
  max-height : 153px;
} */
/* .jump{
  animation-name: jumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */
.snake{
  background: url("../images/snake.gif");
  width: 120px;
  height: 90px;
  position: absolute;
  bottom: 3vh;
  right: -40vw;
  /* right: -10vw; */
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count : infinite;  
}
/* .fireball{
    background: url("../images/fireball.gif");
    width: 25vw;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    right: -40vw;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count : infinite;
}
@keyframes example {
    0%   {right:-40vw;}
    100% {right:110vw;}
} */
/* @keyframes jumping {
  0%   {bottom:3vh;}
  35%  {bottom:15vh;}
  50%  {bottom:15vh;}
  60%  {bottom:15vh;}
  100% {bottom:3vh;}
} */
.btn{
margin-top:10px;
width :70%;
max-width:500px;}
.gameover{
  margin-top: 10vh;
  margin-left: 15vw;
  width: 70vw;
  padding:10px;
  border-radius: 10px;
  background-color: azure;
}
#animatedBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/playground.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
/*adjust s value for speed*/
  animation: animatedBackground 250s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
/* PIXEL 2 */
@media (max-width: 575.98px) { 
  .jump{
    animation-name: jumping;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  #char {
    background: url("../images/chars.gif");
    position: absolute;
    width: 73px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 2vh;
    left: 42vw;
    max-width : 90px;
    max-height : 153px;
  }
  @keyframes jumping {
    0%   {bottom:2vh;}
    15%  {bottom:15vh;}
    50%  {bottom:15vh;}
    60% {bottom:5vh;}
    100% {bottom:2vh;}
  }
  .fireball{
    background: url("../images/fireball.gif");
    width: 30vw;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    right: -40vw;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count : infinite;
  }
  @keyframes example {
      0%   {right:-25vw;}
      100% {right:125vw;}
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  
}
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .jump{
  animation-name: jumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;  
  }
  #char {
    background: url("../images/chars.gif");
    position: absolute;
    width: 200px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 2vh;
    left: 46vw;
    max-width : 100px;
    max-height : 153px;
  }
  @keyframes jumping {
    0%   {bottom:2vh;}
    25%  {bottom:15vh;}
    50%  {bottom:15vh;}
    75%  {bottom:15vh;}
    100% {bottom:2vh;}
  }
  .fireball{
    background: url("../images/fireball.gif");
    width: 25vw;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    right: -40vw;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count : infinite;
  }
  @keyframes example {
      0%   {right:-25vw;}
      100% {right:125vw;}
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  
}
/* DESKTOP  */
@media (min-width: 1200px) { 
  .jump{
  animation-name: jumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
  #char {
    background: url("../images/chars.gif");
    position: absolute;
    width: 200px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 2vh;
    left: 48vw;
    max-width : 100px;
    max-height : 153px;
  }
  @keyframes jumping {
    0%   {bottom:2vh;}
    35%  {bottom:15vh;}
    50%  {bottom:15vh;}
    60%  {bottom:15vh;}
    100% {bottom:2vh;}
  }
  .fireball{
    background: url("../images/fireball.gif");
    width: 25vw;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    right: -40vw;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count : infinite;
  }
  @keyframes example {
      0%   {right:-25vw;}
      100% {right:125vw;}
  }
}
