html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#char {
  background: url("../images/chars.gif");
  position: absolute;
  width: 15vw;
  height: 17vh;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 5px;
  left: 40vw;
  max-width : 100px;
  max-height : 153px;
}
.jump{
  animation-name: jumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.snake{
  background: url("../images/snake.gif");
  width: 120px;
  height: 90px;
  position: absolute;
  bottom: 3vh;
  right: -40vw;
  /* right: -10vw; */
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count : infinite;  
}
.fireball{
    background: url("../images/fireball.gif");
    width: 10vw;
    height: 12vh;
    position: absolute;
    bottom: 3vh;
    right: -40vw;
    /* right: -10vw; */
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count : infinite;
}
@keyframes example {
    0%   {right:-40vw;}
    100% {right:110vw;}
}
@keyframes jumping {
  0%   {bottom:5px;}
  35%  {bottom:15vh;}
  50%  {bottom:15vh;}
  60%  {bottom:15vh;}
  100% {bottom:5px;}
}

.gameover{
  margin-top: 10vh;
  margin-left: 15vw;
  width: 70vw;
  border-radius: 30px;
  background-color: azure;
}
#animatedBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/playground.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
/*adjust s value for speed*/
  animation: animatedBackground 250s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
